:root { /*VARIABLES*/
  --mainColor: #061C25;
  --textColor: #79D4FF;
  --textColor2: #A4BAD7;
  --borderColor: #004774;
  --inputColor: #2D3A4A;
  --shadowColor: #000000;
  --fullShadow: 0px 0px 15px 4px var(--shadowColor);
}

/*-----------------------------------------------------*/
/*                  ESTILOS GENERALES                  */
/*-----------------------------------------------------*/

label {
  color: var(--textColor);
  margin: 3px 0 3px 0;
}

input {
  margin-bottom: 12px;
}

/*-----------------------------------------------------*/
/*                        INDEX                        */
/*-----------------------------------------------------*/

#logo-index {
	width: 80px;
 	height: auto;
  	margin-bottom: 35px;
	transition-property: all;
	transition-duration: 0.2s;
	transition-delay: 0s;
}

#logo-index:hover {
	width: 120px;
 	height: auto;
  	margin-bottom: 35px;
	transition-property: all;
	transition-duration: 0.2s;
	transition-delay: 0s;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#imagen {
  width: 100vw;
  min-height: calc(100vh);
  background-image: url(../img/fondo.png);
  background-size: cover;
}

#formulario {
  background-color: var(--mainColor);
  border: 1px solid var(--borderColor);
  box-shadow: var(--fullShadow);  
  margin: auto;
  padding: 25px;
  border-radius: 5px;
  width: 320px;
  z-index: 2;
}

#logo {
  width: 80px;
  height: auto;
  margin-bottom: 35px;
}

#logo-contenedor {
  display: flex;
  justify-content: center;
}

#user,
#pass {
  background-color: var(--inputColor);
  color: var(--textColor2);
}

#btn-ingresar {
	background-color: var(--textColor);
	margin-top: 25px;
	padding: 4rem;
	width: 100%;  
	transition-property: all;
	transition-duration: 0.2s;
	transition-delay: 0s;
}

#btn-ingresar:hover {
	background-color: var(--borderColor);
	color: var(--textColor);
	transition-property: all;
	transition-duration: 0.2s;
	transition-delay: 0s;
}

.visible {
  display: none;
}

#javaleros {
  color: #fff;
  position: fixed;
  bottom: 0%;
  z-index: 1;
  
  /* top: calc(100vh - 26px); */
}

/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
